.products-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3.5rem;

  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }
}

.button-main {
  height: 4rem;

  color: white;
  background: #fe5f1e;
  border: 2px solid #fe5f1e;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  transition: all 0.1s linear;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-secondary;

  padding: 0 2rem;

  @include respond(mobile) {
    height: 3.5rem;
    padding: 0 1rem;
  }

  &:hover {
    color: #fe5f1e;
    border: 2px solid #fe5f1e;
    background-color: #fff;
  }

  &.--st-active {
    color: #fe5f1e;
    border: 2px solid #fe5f1e;
    background-color: #fff;
  }

  &.--sz-big {
    font-size: 1.6rem;
    line-height: 2rem;
    height: 5.5rem;

    @include respond(mobile) {
      font-size: 1.4rem;
      line-height: 1.8rem;
      height: 4rem;
    }
  }

  &.--sz-small {
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 3.2rem;
    padding: 0 1rem;
  }

  &.--th-outline-grey {
    color: #cacaca;
    background-color: transparent;
    border: 2px solid #cacaca;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      color: #fe5f1e;
      border: 2px solid #fe5f1e;
    }
  }

  &.--th-black {
    background-color: black;
    color: white;
    border: none;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.--th-gold {
    background-color: transparent;
    color: #E9BE4B;
    border: 2px solid #E9BE4B;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
