.products-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3.5rem;
}

.button-main {
  height: 4rem;

  color: white;
  background: #FE5F1E;
  border: 2px solid #FE5F1E;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  transition: all 0.1s linear;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-secondary;

  padding: 0 2rem;

  &:hover {
    color: #FE5F1E;
    border: 2px solid #FE5F1E;
    background-color: #fff;
  }

  &.--st-active {
    color: #FE5F1E;
    border: 2px solid #FE5F1E;
    background-color: #fff;
  }

  &.--sz-big {
    font-size: 1.6rem;
    line-height: 2rem;
    height: 5.5rem;
  }

  &.--sz-small {
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 3.2rem;
  }

  &.--th-outline-grey {
    color: #CACACA;
    background-color: white;
    border: 2px solid #CACACA;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      color: #FE5F1E;
      border: 2px solid #FE5F1E;
    }
  }

  &.--th-black {
    background-color: black;
    color: white;
    border: none;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }
}