@use "sass:math";

@import "./global/base";
@import "./global/variables";
@import "./global/response";

@import "./components/inputs/main";
@import "./components/products/main";

@import "./components/ui/main";

@import "./pages/products";

@import "./layouts/main";

@import "./global/utilites";

.products-page-settings {
  margin: 4rem 0 0 0;

  display: grid;
  grid-template-columns: auto 23rem;
  grid-gap: 2rem;

  @include respond(mobile) {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__select {
    display: none;

    @include respond(desktop-small) {
      display: block;
      max-width: 20rem;
    }
  }

  &__filter {
    @include respond(mobile) {
      max-width: max-content;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.page-basket {
  &__inner {
    max-width: 90rem;
    margin: 0 auto;
  }

  &__footer {
    margin-top: 4rem;
  }
}

.page-basket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 9rem 0 3rem 0;
  border-bottom: 2px solid #f4f4f4;

  @include respond(mobile) {
    padding: 3.5rem 0 3rem 0;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    font-size: 0;
    line-height: 0;

    margin-right: 1.7rem;

    @include respond(mobile) {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
    }

    svg {
      width: 100%;
      height: 100%;
      stroke: #b6b6b6;
    }
  }

  &__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 700;
    color: $text-color-black;

    @include respond(mobile) {
      font-size: 2.5rem;
      line-height: 2.9rem;
    }
  }
}

.basket-clear-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: none;
  border: none;
  color: #b6b6b6;

  &:hover {
    &,
    svg {
      color: $accept-color;
      stroke: $accept-color;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    font-size: 0;
    line-height: 0;
    margin-right: 0.7rem;

    svg {
      width: 100%;
      height: 100%;
      stroke: #b6b6b6;
    }
  }

  &__text {
    color: inherit;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: $font-base;

    @include respond(mobile) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}

.page-basket-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__top {
    margin-bottom: 2.5rem;
  }

  &__title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 400;

    @include respond(mobile) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

.u-color-accept {
  color: $accept-color;
}

.basket-big-btn {
  width: 21.1rem;

  @include respond(mobile) {
    width: 13rem;
  }
}

.basket-main {
}

.basket-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 2.5rem 0;
  border-bottom: 2px solid #f4f4f4;

  @include respond(mobile) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__img-wrapper {
    width: 7rem;
    height: 7rem;

    margin-right: 2rem;
    font-size: 0;
    line-height: 0;
  }

  &__img {
    width: 100%;
    height: 100%;

    display: block;
  }

  &__title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: $text-color-black;
  }

  &__setting {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: $text-color-dark;
  }

  &__counts {
    margin-right: 9rem;

    @include respond(mobile) {
      margin-right: 3rem;
    }
  }

  &__sum {
    margin-right: 9rem;

    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: $text-color-black;

    @include respond(mobile) {
      margin-right: 5rem;
    }
  }

  &__aside {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(mobile) {
      justify-content: flex-start;
    }
  }

  &__remove {
    @include respond(mobile) {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.basket-item-row-counts {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__elem {
    margin: 0 1rem;

    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: $text-color-black;
  }
}

.circle-button {
  width: 3.2rem;
  height: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
  transition: all 0.05s linear;

  border: 2px solid $accept-color;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }

  &.--th-grey {
    border-color: #d7d7d7;

    &:active {
      border-color: $accept-color;
    }
  }
}

.main-input {
  width: 100%;
  height: 4rem;

  position: relative;

  &__elem {
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    border: 2px solid #d3d3d3;
    outline: $accept-color;

    padding-left: 1.5rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &:focus {
    border-color: $accept-color;
  }

  &__error {
    position: absolute;
    top: -0.5rem;
    color: red;
    transform: translateY(-100%);
  }
}

.app-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-modal-content {
  padding: 4rem;
  border-radius: 2rem;
  background-color: white;
}

.md-ash-auth {
  &__title-wrapper {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: $text-color-black;
  }

  &__buttons-list {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 2rem;

    width: max-content;
    margin: 0 auto;
  }

  &__button {
    list-style-type: none;
  }
}

.basket-null {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6rem 0 0 0;

  &__title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 700;
    color: $text-color-black;
    text-align: center;

    @include respond(mobile) {
      font-size: 2.5rem;
      line-height: 2.9rem;
    }
  }

  &__title-wrapper {
    margin-bottom: 1rem;
  }

  &__subtitle-wrapper {
    margin-bottom: 4rem;
    max-width: 55rem;
  }

  &__img-wrapper {
    margin-bottom: 7rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subtitle {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: $text-color-dark;
    text-align: center;

    @include respond(mobile) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  &__img {
    width: 30rem;
    height: 25.5rem;
  }

  &__action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.basket-null-action {
  width: 18rem;
}

.admin-products {
  &__settings {
    margin-top: 2.5rem;
  }

  &__products-list {
    margin-top: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.5rem;

    max-width: 82rem;

    @include respond(desktop-bold) {
      max-width: 111rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.admin-products-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__item {
    list-style-type: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.admin-products-btn-add {
  width: 17.6rem;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.uploader-block {
  position: relative;

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

    &.th-gray {
      filter: grayscale(100%);
    }
  }

  &__action {
    position: absolute;
    top: auto;
    right: 1rem;
    bottom: 1rem;
    left: auto;
  }
}

.admin-all-settings {
  margin-top: 5rem;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15%;
    max-width: 80rem;
    align-items: flex-start;
  }
}

.admin-settings-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;

  &.--th-categories & {
    &__input {
      width: 100%;
    }
  }

  &__error {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: red;

    position: absolute;
    top: auto;
    bottom: 0;
    transform: translateY(100%);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
  }

  &__title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: $text-color-black;
  }
}

.admin-settings-options {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.admin-settings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  &.--th-types & {
    &__main {
      width: 100%;
    }

    &__input {
      width: 100%;
      margin-right: 0;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__input {
    width: 5.4rem;
    margin-right: 1.5rem;
  }

  &__label {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    color: $text-color-dark;
    margin-right: 1.5rem;
  }

  &__out {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: $text-color-black;
  }

  &__error {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: red;
    position: absolute;
    top: -0.2rem;
    left: 0;
    transform: translateY(-100%);
  }
}

.u-color-red {
  color: red;
}

.card-change-anim-enter-active {
  transition: all 0.15s ease 0.15s;
}

.card-change-anim-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.card-change-anim-enter,
.card-change-anim-leave-to {
  transform: translateX(-1rem);
  opacity: 0;
  visibility: hidden;
}

.create-pizza-card-top {
  margin: -2rem -2rem 0 -2rem;

  &__title {
    padding: 2rem;
  }

  &__upload {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
  }

  &__select {
    padding: 0 2rem;
  }
}

.admin-products-banner {
  margin: 3rem 0;
}

.top-change-anim-enter-active {
  transition: all 0.15s ease 0.15s;
}

.top-change-anim-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.top-change-anim-enter,
.card-change-anim-leave-to {
  transform: translateY(-1rem);
  opacity: 0;
  visibility: hidden;
}

.admin-product-card-actions {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  position: absolute;
  top: 1rem;
  left: auto;
  right: 1rem;
  z-index: 10;
}

.card-admin-banner {
  margin-top: 3rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 2rem;
}

.global-error {
  width: 20rem;

  background-color: white;
  position: fixed;
  top: 2rem;
  left: auto;
  right: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  z-index: 10000000;

  padding: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
}
